{% extends 'base.html' %}

{% block title %}Добавление задачи{% endblock %}

{% block content %}
    <div class="container">
        {% if message %}
            <div class="success-message">
                <h1>{{ message }}</h1>
                <p>Перейдите в главное меню для просмотра всех задач.</p>
            </div>
        {% else %}
            <form method="post" class="task-form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Добавить</button>
            </form>
        {% endif %}
    </div>
{% endblock %}